* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8fff7;
}



h1,
h2,
h3 {
    background-color: #7fffd4;
    font-weight: 500;
    color: #2b5849;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 35px 55px;
    margin-bottom: 50px;
    font-size: 40px;
}





a {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: #2b5849;
    font-size: 26px;
    background-color: #d9f7ec;;
}

ul,
ol,
p {
    color: #2b5849;
    font-family: 'Courier New', Monaco, monospace;
}

div {
    height: 800px;
    padding: 25px 50px;

}

li {
    margin-bottom: 10px;
}